  .article-detail {
    padding: 20px;
  }
  
  .article-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .article-header h1 {
    margin: 0;
  }
  
  .article-actions {
    display: flex;
    gap: 10px;
  }

  .article-actions-button {
    background-color: #262438;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .article-actions-button:hover {
    background-color: #3A384C;
  }
  
  .article-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .article-header h1 {
    margin: 0;
  }
  
  .article-actions {
    display: flex;
    gap: 10px;
  }

  .article-commentaries textarea {
    width: 80%;
    border: 1px solid #333;
    background-color: #28283a;
    color: #fff;
    height: 30px;
    border-radius: 20px;
    font-size: 1em;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    resize: none;
    transition: height 0.75s ease;
  }
  .article-commentaries textarea:focus {
    height: 80px;
    border-color: #00bfff;
    outline: none;
  }
  .article-commentaries textarea::placeholder {
    opacity: 55%;
    color: #bbb;
  }

  .add-commentary {
    display: block;
    margin: 10px;
  }

  .article-content {
    margin-bottom: 20px;
  }

  .comment-list {
    list-style-type: none;
    padding: 0;
  }
  
  .comment-item {
    width: 80%;
    margin-left: -40px;
    background-color: #000010;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #262438;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .comment-username {
    font-weight: bold;
    margin-right: 10px;
  }

  .comment-delete {
    margin-right: 10px;
  }
  
  .comment-timestamp {
    font-size: 0.85em;
    color: #777;
  }
  
  .comment-content {
    font-size: 1em;
    color: #fff;
  }

  .commentary-delete {
    background-color: transparent;
    border: none;
    color: #ff4c4c;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 20px;
    transition: color 0.3s;
  }

  .commentary-delete:hover {
    color: #ff0000;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #000010;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    text-align: center;
  }
  
  .modal-content select {
    background-color: #262438;
    border: none;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .modal-content select:focus {
    border: none;
    border: 1px solid #3A384C;
  }
  
  .modal-content button {
    background-color: #262438;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }