.create-article-container {
    max-width: 70%;
    margin: 50px auto;
    padding: 40px 60px;
    border: 2px solid #00bfff;
    border-radius: 20px;
    background-color: #000010;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in;
}

.edit-article-form {
  display: flex;
  flex-direction: column;
}

.edit-article-form label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.edit-article-form input[type="text"],
.edit-article-form textarea {
  width: 95%;
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.edit-article-form button {
  width: 200px;
  padding: 10px;
  margin: 15px;
  font-size: 1.2em;
  background-color: #262438;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-article-form button:hover {
  background-color: #3A384C;
}

.ql-container {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ql-toolbar {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ql-editor {
  min-height: 200px;
  color: #000;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ql-toolbar button {
  color: #333;
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.ql-toolbar button:hover {
  background-color: #d9d9d9;
}

.ql-toolbar button.ql-active {
  background-color: #ccc;
}

.ql-editor::before {
  color: #999;
}

.ql-editor a {
  color: #007bff;
  text-decoration: none;
}

.ql-editor a:hover {
  text-decoration: underline;
}

.ql-editor .ql-picker-options {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
}

.ql-editor .ql-picker-item.ql-selected {
  color: #007bff;
}